<!DOCTYPE html>
<html lang="en" id="body">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="泛亚">
    <meta name="description" content="泛亚">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/vote.css">
    <title>签到</title>
</head>

<body  class="{{ bodyClass }}">

    <div class="head">
        <img src="/static/imgs/head.jpg" width="100%">
        <div class="titleParent"><div class="title"><img  src="/static/imgs/gezi.jpg"/><b>{{typeTitle}}</b><img src="/static/imgs/gezi.jpg" /></div></div>
    </div>

    <div class="content "  >
        <template v-if="type == 'noImage'">
            <!--<div class = "tips">
                <img src="/static/imgs/tips.png"><span class="tips-head">说明:</span>
                <div class="tips-info">因为12月需要组织一次党员生活会，看看大家对党员生活会的举办形式有什么意见，投票选择，没人最多选择2项</div>
            </div>-->

            <div class="select">
                <div><b>选项</b><span>（注：每个最多选{{ selectCount }}项）</span></div>
                <div class="items">
                    <template v-for="item in items">
                        <div class="ul " v-bind:class="{ 'ul2' : $index % 2 != 0  }">
                            <input type="checkbox" @click="checkItem( item  )" value="{{ item.id }}" id="{{ 'item_'+item.id }}" v-model2="checked" lazy>{{ item.text }}
                        </div>
                    </template>

                </div>
            </div>
        </template>

        <template v-else>
            <div class = "tips" v-show=" info.length > 0 ">
                    <img src="/static/imgs/tips.png"><span class="tips-head">说明:</span>
                    <div class="tips-info">{{ info }}</div>
            </div>

            <div class="election-div">
                <div><b>选项</b><span>（注：每个最多选{{ selectCount }}项）</span></div>
                <div class="items">
                    <template v-for="item in items">
                        <div class="election" v-bind:class="{ 'right' : $index % 2 != 0  }">
                            <img src="{{ item.url }}" v-show="item.showImg" @click="showItem( item )">
                            <div>
                                <div style="width:120px;overflow2:hidden;display:inline-block;">{{ item.text }}</div>
                                 <input type="checkbox" @click="checkItem( item ,$event )" value="{{ item.id }}" id="{{ 'item_'+item.id }}" v-model2="checked"  lazy>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </template>

        <div class="alert" v-show="showDetail" style="display: none">
            <div class="center">
                <div @click="closeItem" style="width: 100px;height:100px ;top: 0px;  right: 0px;position: absolute;">
                    <span class="close" ></span>
                </div>
                <div class="img" ><img src="{{ detail.refer_user.head_image }}"/>
                </div>

                <div class="info">
                    <b>{{ detail.refer_user.name }}</b>
                    <hr>
                    {{ detail.refer_user.detail }}

                </div>
            </div>
        </div>

        <div class="submit">
            <div class="button" @click="doVote" ><img src="/static/imgs/click.png" width="20px">提 交</div>
            <div class="button" @click="back" ><img src="/static/imgs/back.png" width="20px">返 回</div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script>

        var vue = new Vue({
            el: '#body',
            data: {
                parentMessage: 'Parent',
                type:'showImage',
                typeTitle:'投票',
                items: [],
                checked:[],//已选列表
                checkEle:[],//已选的element
                detail:null,
                showDetail:false,
                selectCount:1,
                info:'',//顶部文字说明
                bodyClass:'html-body-auto'
            },
            ready:function () {
                this.loadData();
            },
            methods:{
                /*页面操作函数*/
                checkItem:function ( item  ,event ) {  //点中某个选项
                    var count = 0 ;
                    for( var i = 0 ; i < this.items.length ; i++){
                        var ele = this.items[i];
                        if(  document.getElementById('item_' + ele.id).checked ){
                            count ++ ;
                        }
                    }
                    if( count > this.selectCount ) {
                        Site.alert('最多只能选择 ' + this.selectCount + '项 ');
                        event.preventDefault();
                    }
                },
                showItem:function( item ){//显示候选人详情
                    if( item.refer_type != 1)return ;
                    this.bodyClass = 'html-body-overflow';
                    this.detail = item ;
                    this.showDetail = true ;
                },
                closeItem:function(){//关闭候选人详情
                    this.bodyClass = 'html-body-auto';
                    this.showDetail = false ;
                },
                submit:function () { //提交按钮
                    window.location.href = 'result.html';
                },
                back:function(){
                    Site.goto('sign.html');
                },
                /*页面操作函数 结束*/
                loadDataError:function( response){
                    //console.log(response);
                    Site.alert('请求失败，请重试');
                },
                loadData:function(){//读取页面数据
                    //this.type = getUrlParam('type') == '1' ? 'showImage' : 'noImage';
                    this.typeTitle = getUrlParam('type') == '1' ? '选举' : '投票';

                    var callback = function(rsp){
                        if( rsp.data.code ==0 ){
                            vue.selectCount = rsp.data.per_num;
                            vue.info = rsp.data.detail;

                            for(var i = 0 ; i < rsp.data.data.length ; i++){
                                var item = rsp.data.data[i];
                                if( !item.url || item.url.length == 0 ){
                                    item.showImg = false;
                                    //vue.type = 'noImage';
                                }else{
                                    item.showImg = true
                                    //vue.type = 'showImage';
                                }

                                item.url = Site.imgUrl(item.url);

                                if(item.refer_type == 1){

                                    item.refer_user.head_image = Site.imgUrl( item.refer_user.head_image );
                                    item.showImg = true ;
//                                    vue.type = 'showImage';
                                    item.url =  item.refer_user.head_image;
                                    item.text = item.refer_user.name;
                                }

                                vue.items.push( item );
                            }
                        }
                    }
                    var url = '/v1/mobile/vote/'+ getUrlParam('id')+'/info';
                    Site.get( url  , callback , this.loadDataError );
                },
                doVote:function(){//进行投票
                    var ids = '';
                    var count = 0;
                    for( var i = 0 ; i < this.items.length ; i++){
                        var ele = this.items[i];
                        if(  document.getElementById('item_' + ele.id).checked ){
                            ids +=  i==0?'':',' +  ele.id ;
                            count ++;
                        }
                    }

                    if(count == 0 ) {
                        Site.alert('请选择后再提交');
                        //if( android ) android.toast('请选择后再提交');
                        return ;
                    }
                    var voteCallback = function (rsp) {
                        if( rsp.data.code ==0 ){
                                        //alert(JSON.stringify(rsp.data));
                            Site.goto('result.html?id=' + getUrlParam('id')+'&type=' + getUrlParam('type') );
                        }else{
                            var msg = "请求错误：错误码"+rsp.data.code;
                            var code = rsp.data.code;
                            if( code == -21 )msg = "不在投票时间段";
                            if( code == -22 )msg = "超过可投选项数";
                            if( code == -23 )msg = "投票已经关闭";
                            Site.alert( msg );
                            //if( android ) android.toast( msg );
                        }
                    }
                    var url = '/v1/mobile/option';
                   /* var ids = this.checked[0];//.id;
                    for(var i =1;i< this.checked.length; i++){
                        ids += ',' + this.checked[i];//.id ;
                    }*/
                    ids.substring( 0 , ids.length - 1 );
                    Site.post( url , {ids : ids , user_id :getUrlParam('userId') , round_id:this.items[0].round_id } , voteCallback , this.loadDataError );
                }
            }
        });
        function setContent(data) {}
    </script>
</body>
</html>
